{% extends 'base.html.twig' %}{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section class="page-title">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<!-- Title text -->
				<h3>Sign Up</h3>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

{#{% for flashError in app.flashes('verify_email_error') %}
    <section class="section">
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    </section>
{% endfor %}#}

<section class="section">
    <div class="container">
		<div class="row">
            <div class="col-md-4 offset-md-4">
                <h1>Please sign up</h1>

                {{ form_start(form) }}
                    {{ form_row(form.first_name) }}
                    {{ form_row(form.last_name) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword) }}
                    {# {{ form_row(form.plainPassword.second) }}#}

                    <button type="submit" class="w-100 btn btn-lg btn-primary">Sign in</button>
                {{ form_end(form) }}
            </div>
        </div>
</section>
{% endblock %}